trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: SnykSecurityScan@1
  displayName: 'Snyk: test & monitor'
  inputs:
    serviceConnectionEndpoint: 'SnykToken'
    testType: 'app'
    monitorWhen: 'always'
    failOnIssues: true
    failOnThreshold: 'critical'
